.login-page {
  background-image: url('../../public/login-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  background-color: rgba(255, 255, 255, 0.087);
  padding: 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.564);
}